body {
    font-family: 'Poppins', sans-serif;
}

.h1-text {
    font-size: 70px;
    color: rgb(247, 243, 247);
    text-align: center;
    text-align-last: right;

}

.container {
    position: relative;
    text-align: center;
    color: rgb(250, 248, 248);
    font-size: medium;
    font-weight: 700;


}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#button {
    background-image: linear-gradient(orange, tomato);
    padding: 16px 20px;
    border-radius: 25px;
    font-weight: 900;
    text-decoration: none;
    color: rgb(252, 253, 253);
    font-size: 20px;
}

.part-two {
    text-align: center;
    font-size: 70px;
}

.part-2-p {
    text-align: center;
}



.tk-main {
    content: "";
    display: flex;
    clear: both;
}

.tk {
    width: 25%;
    float: left;
    margin: 20px;
    padding: 13px;
    padding-left: 10%;
    border: 30%;
    font-weight: 700;

}